* {
  font-family: 'Lato', 'sans-serif';
}

.sideimg img {
  margin-bottom:0px;
}

.imgsubheading {
  color:white;
  background-color:#6194bf;
  text-align:center;
  padding-top:5px;
  padding-bottom:5px;
}
.zapimg {
  width:100%;
  display:block;
  margin-bottom:10px;
}
.postcontent h1 {
  color:#6194bf;
}

.comments {
  display:inline-block;
  float:right;
  color:#6194bf;
}
.author {
  display:inline-block;
  float:right;
}
.topicslink {
  color:#6194bf;
}
.topics {
  display:inline-block;
}
.date {
  display:inline-block;
}
.dateandcomments {
  font-size:12px;
}
.topicsandauthor {
  font-size:12px;
}
.postimg{
  width:30%;
  display:inline-block;
  margin-right:10px;
  border-color: #eee;
  border-style: solid;
}
.postcontent{
  width:60%;
  display:inline-block;
}
#searchbar {
    display:inline-block;
    margin-top: 25px;
    margin-right: 50px;
    float:right;
}
.searchinput {
  display: inline-block;
  height:30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left:10px;
}
.searchbtn{
  display:inline-block;
  border: 0;
  background: #4579a5;
  box-shadow: none;
  border-radius: 5px;
  height: 32px;
  color: white;
}
.zapnavinner {
  padding-left:20px;
  margin-top:0px;
  margin-bottom:0px;
}
.dropdowncontent{
  display:none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdownlinks {
  padding-top:6px !important;
  padding-bottom:6px !important;
  display:block;
}
.dropdownlinks:hover {
  background-color: #2e465a;
  border-radius: 0px;
}
.dropdownparent:hover .dropdowncontent{
  display:block;
  background-color:#4579a5;
}
.dropdowntext:hover {
  margin-bottom:50px;
}

.dropdowncontent ul {
  padding-left:0px;
}
.dropdowncontent ul li a {
  padding-top:0px;
  padding-bottom:0px;
  width:100%;
}
/*
.dropdowncontent ul li:hover {
  display:inline-block;
  background-color:#2e465a;
}
*/
li {
  display:inline-block;
  font-size:14px;
  padding-top:18px;
  padding-bottom:18px;
  padding-right:10px;
}
li:hover{
  background-color:#4579a5;
  color:white !important;
  border-radius:5px;
}
li:hover a{
  color:white !important;
}
.posts{
  width:70%;
  display:inline-block;
}
.sideimages {
  width:30%;
  display:inline-block;
  float:right;
}
.pagebody {
  background:white;
  margin-left:25px;
  margin-right:25px;
  padding-bottom:25px;
}
li a {
  color:black;
  margin-left:10px;
  text-decoration:none;
}
hr {
  width:100%;
  color:#eee;
}
.zapnav {
  padding-top:20px;
  display:inline-block;
}

.wholepagecontainer {
  background:#eee;
  height:100%;
}

.pagecontainer {
  margin:20px 50px;
  background-color:white;
  border-radius:15px;

  border-color: #d8d8d8;
  border-style: solid;
}
