* {
  font-family: 'Lato', 'sans-serif';
}
.postcontent h1 {
  color:#6194bf;
}

.comments {
  display:inline-block;
  float:right;
  color:#6194bf;
}
.author {
  display:inline-block;
  float:right;
}
.topicslink {
  color:#6194bf;
}
.topics {
  display:inline-block;
}
.date {
  display:inline-block;
}
.dateandcomments {
  font-size:12px;
}
.topicsandauthor {
  font-size:12px;
}
.postimg{
  width:20%;
  display:inline-block;
}
.postcontent{
  width:75%;
  display:inline-block;
}
#searchbar {
  width:25%;
  display:inline-block;
}
.searchinput {
  display: inline-block;
  height:30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left:10px;
}
.searchbtn{
  display:inline-block;
  border: 0;
  background: #5698d0;
  box-shadow: none;
  border-radius: 5px;
  height: 32px;
  color: white;
}
li {
  display:inline;
  font-size:14px;
}
.posts{
  width:70%;
  display:inline-block;
}
.sideimages {
  width:30%;
  display:inline-block;
  float:right;
}
.pagebody {
  background:white;
  margin-left:25px;
  margin-right:25px;
  padding-bottom:25px;
}
li a {
  color:black;
  margin-left:10px;
  text-decoration:none;
}
hr {
  width:100%;
  color:#eee;
}
.zapnav {
  padding-top:20px;
  width:70%;
  display:inline-block;
}

.wholepagecontainer {
  background:#eee;
  height:100%;
}

.pagecontainer {
  margin:20px 50px;
  background-color:white;
  border-radius:15px;

  border-color: #d8d8d8;
  border-style: solid;
}
